* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.main-container {
    width: 100%;
    max-width: 100%;
}

/* -------------------offcanvas-header */
.offcanvas-header {
    background-color: #131A22;
    color: #ffffff
}

.slidebar-link h4 {
    font-size: 25px;
    font-weight: bold;
}

.txt-canva {
    font-size: 20px;
}

.nav-belt {
    /* background: #000000; */
    width: 100%;
    min-height: 60px;
    gap: 15px;
    position: sticky;
    top: 0;
    z-index: 50;
}

.nav-belt {
    width: 100%;
    margin: 0 auto;
    min-height: 60px;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

.logo {
    width: 100px;
    height: auto;
    transition: 0.5;
}

.logo img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.address {
    color: aliceblue;
    font-size: 13px;
    white-space: nowrap;
    margin-left: 10px;
}

.location {
    white-space: nowrap;
    color: #ffffff;
    font-weight: 600;
}

.daddress {
    margin: 0;
}

.column {
    flex-direction: column !important;
}

.nav-fill {
    width: 50%;
    max-height: 40px;
    background-color: #ffffff;
    margin-left: 20px;
    border-radius: 8px;
}

.language-select-option {
    padding-left: 30px;
}

.searcBtn img {
    max-height: 20px;
}

.input {
    width: 100%;
    font-size: 15px;
    text-align: start;
    padding: 14px 4px;
}

::placeholder {
    color: gray;
    font-weight: 600;
    text-align: start;
}

.btn {
    border: none;
    outline: none;
}

.searcBtn {
    flex: 0 1 40px;
    padding: 0 0px;
    background-color: #f3a847;
    border-radius: 0 4px 4px 0;
    white-space: nowrap;
}

.select {
    background-color: #e6e6e6;
    padding: 13px 10px;
    font-size: 15px;
}

.fleg {
    width: 20px;
    height: 20px;
}

.fleg img {
    width: 100%;
    max-width: 100%;
}

.nav-right {
    color: #ffffff;
    background: transparent;
}

.login-container {
    color: #ffffff;
    font-size: 0.8rem;
    white-space: nowrap;
    padding-left: 15px;
    position: relative;
}

.return-order-container {
    color: #ffffff;
    font-size: 0.8rem;
    white-space: nowrap;
}

.cart-container {
    color: #ffffff;
    font-size: 0.8rem;
    white-space: nowrap;
}

.margin-auto-space {
    margin: 0;
}

.text-size {
    font-size: 0.9rem;
}

.fa-cart-shopping {
    font-size: 20px;
}

.langage-button {
    white-space: nowrap;
    font-size: 0.8rem;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.language-select-container {
    width: 200px;
    height: auto;
    border-radius: 1%;
    background-color: #ffffff !important;
    color: #0F1111 !important;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: 0.5s;
    transform: translateY(200px);
    font-size: 0.8rem;
}

.language-container:hover .language-select-container {
    visibility: visible !important;
    transform: translateY(0px);
    opacity: 1 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.india-flag {
    font-size: 0.7rem;
    padding-left: 15px;
}

.language-container {
    position: relative;
    white-space: nowrap;
    padding: 0px;
}

.login-hover-container {
    height: 450px;
    top: 100%;
    border-radius: 1%;
    background-color: #ffffff !important;
    color: #0F1111 !important;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: 0.5s;
    transform: translateY(200px);
    font-size: 0.8rem;
    right: 10%;
    width: 450px;
}

.login-container:hover .login-hover-container {
    visibility: visible !important;
    transform: translateY(0px);
    transform: translateX(150px);
    opacity: 1 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-list-login {
    display: flex;
    font-size: 15px;
}

.text-login {
    font-weight: bold;
}

.login-first {
    padding-top: 20px;
    justify-content: center !important;
    padding-left: 35%;
}

.login-btn {
    padding: 0px 50px;
}

.showing-link a {
    text-decoration: none;
    list-style: none;
    color: #000000;
    font-size: 16px;
    overflow: hidden;
    margin-right: 10px;
}

.nav-padding {
    padding-left: 300px;
}

/* ----------------nav-sprit */
.nav-sprite {
    height: auto;
    width: 100%;
    background-color: rgb(35, 47, 62);
    color: #ffffff;
    overflow: hidden;
}

.offcanvas-body .list-type-offcanva {
    list-style: none;
}

.all-menu {
    align-items: center;
    height: auto;
    border: none;
    text-decoration: none;
    padding: 8px 9px 8px 13px;
    margin: 0;
}

.all-menu .all-tag {
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}

.nav-m-text {
    margin: 0px 0 0px 0;
    padding: 8px 9px;
    white-space: nowrap;
}

/* ------------nav-progressive-subnav------ */
.nav-progressive-subnav {
    height: 50px;
}

.app-details {
    line-height: 0;
    margin-bottom: 20px;
    margin-left: calc(50% - 50vw);
    margin-right: auto;
    max-height: inherit;
    max-width: inherit;
    height: 55px;
    width: 100%;
    border: 1px solid #6d6d6d99;

}

/* ---------------------main-image-container--- */


.main-image-container {
    height: 500px;
    width: 100% !important;
    object-fit: cover;
    overflow: hidden;
}

#big-image img {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
    align-items: center;
    /* overflow-y: scroll; */
}

#big-image {
    object-fit: cover;
}

.texts {
    width: 100%;
    height: 100px;
}

.texts img {
    max-height: 100px;
    max-width: 80px;
    align-items: center;
}

.image-canva-caption {
    text-align: center;
    padding: 8px 0px;
}

/* .owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: block !important;
} */

.main-col-img {
    display: flex;
}

/* ----------------leftCol------ */


/* -------------------center col */
.title-feature-div .text-h1 {
    font-size: 24px;
}

.a-link-center {
    text-decoration: none;
    color: #007185;
}

.parallelogram {
    width: 137px;
    height: 27px;
    /* transform: skew(20deg); */
    background: #555;
    color: white;
}

.price-to {
    font-size: 28px;
}

.Great-btn {
    background-color: #CC0C39 !important;
    padding: 4px 8px 4px 8px !important;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px !important;
    margin-bottom: 4px;
    border: 0;
    color: white
}

.mrp-div {
    font-size: 12px;
    color: #555;
}

.inclusive {
    font-size: 14px;
}

.vsx-heading img {
    width: 24px;
    height: 24px;
}

.vsx-heading {
    font-weight: bold;
}

.a-form-label {
    display: inline;
    color: #555;
    font-weight: 400;
}

.selection {
    font-weight: bold;
}

.a-span3 {
    width: 46%;
    font-size: 14px;
}

.a-span9 {
    width: 74%;
    font-size: 14px;
}

.bulets-h1 {
    font-size: 16px;
    font-weight: bold;
}

.a-color-base,
.fa-star-div {
    line-height: 30px;
}

.bulet-p {
    font-size: 14px;
}

.rev-h1 {
    font-size: 16px;
    font-weight: bold;
}

.a-color-base {
    width: 61%;
    font-size: 14px;
}

.fa-star-div {
    width: 32%;
    font-size: 14px;
}

.card-title {
    font-size: 28px;
}

.card-color {
    color: #007185;
}

.card-link {
    text-decoration: none;
    font-size: 0.8rem;
}

.card-table-heding {
    font-size: 12px;
    color: #555;
    width: 90px;
}

.card-tb {
    font-size: 12px;
}

.add-cart-btn {
    width: 100%;
}

.busy-now-btn {
    width: 100%;
    background: rgb(226, 128, 15) !important;
}

.secure-transaction {
    color: #007185;
}

/* -------------------------owl carsoul body-- */
.lm-btn-carsoul {
    width: 80%;
    height: auto;
    border: none;
    background-color: #CC0C39;
    color: #ffffff;
    font-size: 0.9rem;
}

.slder-box {
    width: 160px;
}

.slder-box img {
    width: 100%;
}

.price-pre-corosoul {
    color: #CC0C39;
    font-size: 24px;
}

.nav-subnav {
    overflow: hidden;
}

.item .afedback-form a {
    text-decoration: none;
    color: #007185;
    font-size: 14px;
}

.dolloer-price {
    font-size: 28px;
}

/* --------------------owl nav----- */
.div-item-all .owl-nav {
    /* display: flex;
    justify-content: space-between; */
    font-size: 45px;
}

/* .div-item-all .owl-nav {
    font-size: 50px;
    margin: -200px 0 0 0 !important;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 0;

}
.div-item-all .owl-nav span {
    position: absolute;
    background-color: white !important;
    border-radius: 5px;
}
.owl-nav span:hover {
    color: black !important;
} */

/* ----------------customer-viewed */
/* .main-customer-viewed{
    overflow: scroll;
}
.lm-btn-customer{
    width: 80%;
    height: auto;
    border: none;
    background-color: #CC0C39;
    color: #ffffff;
    font-size:0.9rem;
}
.slder-customer-box{
    width: 100%;
     white-space: nowrap; */


.slder-customer-box img {
    width: 100%;
}

.slder-customer-box .afedback-form a {
    text-decoration: none;
    color: #007185;
    font-size: 14px;
}

.product-info {
    font-size: 18px;
    color: #f3a847;
}

.product-tb {
    font-size: 17px;
}

.Additional-tb {
    font-size: 17px;
}

td.color-tb {
    background: #F0F2F2 !important;
}

/* --------------------------------footer css */

.footer-account-link a {
    text-decoration: none;
    color: #007185
}

.footer-account-link a:hover {
    text-decoration: none;
    color: #C7511F
}

.back-to-top-div {
    background-color: #37475A;
    font-size: 14px !important;
    font-weight: 500;
    padding: 1rem 0;
}

.back-to-top-link {
    text-decoration: none !important;

}

.footer-middle-option-div {
    background-color: #232F3E;
    width: 100%;
}

.footer-container {
    padding: 30px 190px;
}

.footer-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid white !important;
    padding: 40px 0;
}

.footer-headline {
    color: #DDD;
    margin-bottom: 0.5rem;
    font-size: 20px !important;
    font-weight: 800;
    white-space: nowrap;
    padding-left: 20px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.footer-list li a {
    font-size: 18px !important;
    text-decoration: none;
    color: #DDD;
    line-height: 1.7em;
    font-weight: 300;
    white-space: nowrap;
    padding-left: 20px;

}

.footer-list li a:hover {
    text-decoration: underline;
}

.footer-select-item {
    align-items: center !important;

}

.footer-select-items a {
    text-decoration: none;
    font-size: 10px !important;
}

.sele {
    background-color: transparent;
    color: #DDD;

    height: 35px;
    cursor: pointer;
    font-weight: 300 !important;
    font-size: 0.8rem;
    border: none;
}

.sele option {
    color: black;

}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232F3E;
    cursor: pointer;
    flex-wrap: nowrap;
}

.footer-bottom-area {
    background-color: #131A22
}

.footer-bottom-area a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.footer-bottom-area .span-x {
    color: white;
    font-size: 15px;
    font-weight: 100;
    opacity: 0.6;
}

.footer-ext-txt,
.footer-ext-txt a {
    font-size: 12px !important;
    font-weight: 100 !important;
}

@media only screen and (max-width: 410px) {
    .footer-container {
        padding: 30px 15px;

    }
}

@media only screen and (min-width: 410px) and (max-width: 768px) {
    .footer-container {
        padding: 30px 130px;

    }
}

/* mobile laptop view nav bar   */
@media(max-width:1025px) {
    .app-details {
        display: block !important;
    }

    .nav-padding {
        display: none;
    }

    .nav-bar-belt-main {
        display: none;
        position: absolute;
    }

    .nav-m-navbar {
        /* visibility: visible !important; */
        display: block;
    }

    .nav-logobar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logbar-right {
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: flex-end !important;
    }

    .nav-logobar .logbar-right {
        display: flex;
        align-items: center;
        justify-content: flex-end !important;
    }

    #logbar-space {
        margin-left: 20px;
    }

    .logo-m-logbar {
        width: 100px;
        height: auto;
        transition: 0.5;
    }

    .logo-m-logbar img {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .logbar-left {
        align-items: center;
    }

    .nav-searchbar-wrapper {
        background-color: rgb(35, 47, 62);
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .nav-loaction-navbar {
        background-color: rgb(55, 71, 90);
        color: #ffffff;
        float: left;
        padding: 0px 24px 6px 19px;
        height: 100%;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        justify-content: center;
        align-items: center;
    }

    .a-carousel-goto-prevpage {
        position: absolute;
        top: 60px;
        left: 20px;
        right: 0;
        bottom: 0;
        outline: 0;
        border-radius: 5px;
        border: 1px solid #000000;
        width: 25px;
        height: 100px;

    }

    .a-carousel-goto-nextpage {
        position: absolute;
        top: 60px;
        left: 100px;
        right: 0;
        bottom: 0;
        outline: 0;
        border-radius: 5px;
        border: 1px solid #000000;
        width: 25px;
        height: 100px;
    }

    a,
    a:link {
        text-decoration: none;
        color: #000000;
    }

    #slide-fs {
        text-align: center;
        font-size: 40px;
        padding-top: 25px;
    }

    .navbar-m-belt {
        position: sticky;
        top: 0;
    }

    .search {
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    }

    .search input {
        height: 50px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }

    .search input:focus {
        box-shadow: none;
        border: 2px solid #f3a847;
    }

    .search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px;
    }

    .search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 40px;
        width: 110px;
        background: #f3a847;

    }
}

@media (max-width: 1200px) {
    .texts {
        display: none;
    }

    .image-canva-caption {
        display: none;
    }
}

@media(min-width:1025px) {
    .nav-m-navbar {
        visibility: hidden;
        position: absolute;
    }
}

@media(max-width:425px) {
    .main-image-container {
        height: 300px;
        width: 100%;

    }
}
@media(max-width:600px) {
    .carsoul-body-item1 .item{
        /* justify-content: center; */
        align-items: center !important;

    }
}

.carsoul-body-item1 .owl-nav {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.carsoul-body-item1 .item{
    /* align-items: center !imporant;t */
    display: flex;
    justify-content: center;
}
