.nav-logobar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logbar-right{
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
}
.nav-logobar .logbar-right{
    display: flex;
    align-items: center;
    justify-content: flex-end !important;

}
#logbar-space{
    margin-left: 20px;
}
.logo-m-logbar {
    width: 100px;
    height: auto;
    transition: 0.5;
}
.logo-m-logbar img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.logbar-left{
    align-items: center;
}
.nav-searchbar-wrapper{
    background-color: rgb(35, 47, 62);
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.nav-m-fill{
    width: 100%;
    max-height: 50px;
    background-color: #ffffff;
    border-radius: 8px;
}
.searcBtn-m-logbar img{
    max-height: 20px;
}
.input{
    width: 100%;
    font-size: 15px;
    text-align: start;
    padding: 14px 4px;
}
::placeholder {
    color: gray;
    font-weight: 600;
}
.btn {
    border: none;
    outline: none;
}
.searcBtn-m-logbar{
    flex:  0 1 40px;
    padding: 0 0px;
    background-color: #f3a847;
    border-radius: 0 4px 4px 0;
    white-space: nowrap; 
}
.nav-loaction-navbar{
    background-color: rgb(55, 71, 90);
    color: #ffffff;
    float: left;
    padding: 12px 10px 12px 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 
    
}
